<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wufan.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/timg"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="计算器">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sanjiaohanshuActivity"
            android:label="三角函数" />
        <activity
            android:name=".jinzhiActivity"
            android:label="进制转换"
            android:logo="@drawable/timg" />
        <activity android:name=".DanweizhuanhuanActivity"
            android:label="单位转换"
            />
    </application>

</manifest>